@charset "UTF";

/* versão de todas as demais midias */

/*TYPICAL DEVICE BREAKPINTS
----------------------------
Pequenas telas: até 600px
Celular: de  600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/




