@charset "UTF";

/* versão de todas as demais midias */


* /*o asteristico siginifica confg geral*/ {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em; /*tamanho font geral*/
    margin: 0px; /*zerou a margem geral*/
    padding: 0px;
    box-sizing: border-box;
    

}

html {
    
    height: 100vh;
}

body { /*confg so de body, que se sobresai*/
    /*esse cabe confg gerais, tanto de img como de cores e etc*/ background: black url(../imagens/back-phone.jpg) no-repeat; 
    background-size: cover; /*preenche a tela com a img*/
    background-position: center center;  /*centralizou a img*/
    
} 

main /*fica dentro do body, ou seja o body fica por baixo*/ {

    background-color: rgba(245, 245, 220, 0.37);

    width: 400px; /*cofg as laterais*/
    margin: auto; /*centraliza o main*/
    margin-top: 20px;
    border-radius: 10px; /*arredondamento de bordas gerais*/
    padding: 10px;  /*distancia o que está no meio das bordas*/
}
h1 {
    text-align: center;
    color: wheat;
   /*sombra de texto:*/  
   text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.527); /*deslocamento, espaçamemnto e cor*/
   font-size: 1em;
}  

img {
    display: block;
    margin: auto; 
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}

/*display none esconde meu elemento.
 display block mostra meu elemento*/

